# Telegram API Credentials
# Get these from https://my.telegram.org/apps
API_ID=30523194
API_HASH=76d62e302ed767a9ea0b8586a9189ca5
BOT_TOKEN=8531617857:AAEutx4YBcpBzJN-hxmfEz1-bQezohbGlI0

# Recording Configuration
# Directory where recordings will be saved (default: ./recordings)
RECORDING_PATH=./recordings